@{
    ViewBag.Title = "申请退款";
}

<div class="container-fluid">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="common-header">
        申请退款
    </div>

    <div class="common-content">
        <div class="border-header"></div>
        <div class="border-body">

            <div class="border-group-info" style="position: relative;top: -2rem;">
                <label>订单编号：</label>
                <label>
                    <span class="span-text">@ViewBag.OrderNo</span>
                </label>
            </div>

            <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                <label style="vertical-align: top;">订单详情：</label>
                <label>
                    &nbsp;&nbsp;&nbsp;
                    <span class="span-text">@MvcHtmlString.Create(ViewBag.Description)</span>
                </label>
            </div>

            <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                <label>订单金额：</label>
                <label>
                    <span class="span-text">@ViewBag.Amount</span>
                </label>
            </div>

            @*<div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                <label>申请退款金额（非必填）：</label>
                <input id="Amount" type="text" class="form-control" placeholder="请输入申请退款金额" />
            </div>*@
            <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                <label>退款原因：</label>
                <textarea id="Remark" rows="3" class="form-control textarea" placeholder="请输入退款原因"></textarea>
            </div>
            <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                <label>温馨提示：</label>
                <label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    请填写申请退款的金额、退款原因，自觉遵守活动规则，谢谢合作。
                    申请退款后，请等待审核，退款会在3-5个工作日退回到原帐户！
                </label>
                <label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    请在退款原因中详细描述要退款的内容，比如：剩余10发子弹，申请退款！
                </label>
            </div>

            <a href="javascript:void(0)" onclick="Pager.Submit()"
               class="common-button">申请退款</a>
            <a href="/User/UserRecord"
               class="common-button m-t-10">取　　消</a>
        </div>
        <div class="border-footer"></div>
        <div class="common-content-footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>

@section scripts {
    <script>
    var Pager = {
        Submit: function () {
            if ($("#Remark").val() == "") {
                modal.show('@ViewBag.Title', "退款原因不能为空!");
                return;
            }
            @*if ($("#Amount").val() != "" && !validate.checkDecimal($("#Amount").val())) {
                    modal.show('@ViewBag.Title', "请输入正确的金额!");
                    return;
                }
                if ($("#Amount").val() == "") {
                    $("#Amount").val(0);
                }
                if (Number($("#Amount").val()) > Number('@ViewBag.Amount')) {
                    modal.show('@ViewBag.Title', "退款金额不能超过订单金额!");
                    return;
                }*@

            $.ajax({
                url: "/User/SubmitRefundApply",
                type: "post",
                dataType: "json",
                data: {
                    OrderID: '@ViewBag.OrderID',
                    Remark: $("#Remark").val(),
                    Amount: 0//$("#Amount").val()
                },
                success: function (data) {
                    modal.show('@ViewBag.Title', data.msg);
                    if (data.status == 0) {
                        return;
                    }
                    //window.location.href = "/User/UserRecord";
                    window.location.href = "/User/EnterRefundSuccess";
                }
            });
        }
    }
    </script>
}