@{
    ViewBag.Title = "验证验证码";
}

<div class="container-fluid">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>


    <div class="common-header">
        @if (!string.IsNullOrEmpty(ViewBag.tipStr) && ViewBag.tipStr != "Enter")
        {
            <label style="font-size: 18pt; font-weight: bold; color: #ff0000;">
                @ViewBag.tipStr
            </label>
        }
        else
        {
            <label style="font-size: 18pt; font-weight: bold;">
                请输入验证码
            </label>
        }
    </div>

    <div class="common-content">
        <div class="border-header"></div>
        <div class="border-body">
            <table class="table-from">
                <tr>
                    <th>验证码</th>
                    <td>
                        <input id="Pwd" type="text" placeholder="请输入验证码" />
                    </td>
                </tr>
            </table>
            <div class="border-group-info" style="position: relative;top: -2rem;">
                <label>温馨提示：</label>
                <label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    请输入验证码后
                    @if (ViewBag.CodeType == 1)
                    {
                        <span>录入成绩</span>
                    }
                    else
                    {
                        <span>填写退款申请</span>
                    }，验证码向工作人员索要。
                </label>
            </div>
            <a href="javascript:void(0)" onclick="Pager.Submit()"
               class="common-button">提　　交</a>
            <a href="/Order/Success?OrderID=@ViewBag.OrderID"
               class="common-button m-t-10">取　　消</a>
        </div>
        <div class="border-footer"></div>
        <div class="common-content-footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>

@section scripts {
    <script>
        var Pager = {
            Submit: function () {
                if ($("#Pwd").val() == "") {
                    modal.show('@ViewBag.Title', "验证码不能为空");
                    return;
                }
                window.location.href = "/User/EnterPassword?OrderID=" + '@ViewBag.OrderID' + "&Password=" + $("#Pwd").val();
            },
            Validate: function () {
                if ('@ViewBag.tipStr' == "") {
                    window.location.href = "/User/EnterRank?OrderID=" + '@ViewBag.OrderID';
                }
            }
        }

        Pager.Validate();
    </script>
}
