@model SHOOT.Model.Bisness.Bis_Record
@{
    ViewBag.Title = "微信支付";
}
<div class="container-fluid">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="common-header">
        @ViewBag.tipStr
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    //调用微信JS api 支付
    function jsApiCall() {
        WeixinJSBridge.invoke(
        'getBrandWCPayRequest',
        JSON.parse('@Html.Raw(ViewBag.wxJsApiParam)'),
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok")//成功
                {
                    if ("@ViewBag.Flag" == "") {
                        window.location.href = "/Order/Success?OrderID=" + '@Model.RecordID' + "&PayType=Consume";
                    } else {
                        window.location.href = "/Order/Success?OrderID=" + '@Model.RecordID' + "&PayType=Recharge";
                    }
                }
                else if (res.err_msg == "get_brand_wcpay_request:fail")//失败
                {
                    $(".panel-body-responsive label").text("支付失败，请返回重试");
                }
                else if (res.err_msg == "get_brand_wcpay_request:cancel")//取消
                {
                    window.history.go(-1);
                }
            });
    }

    if (typeof WeixinJSBridge == "undefined") {
        if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
        }
        else if (document.attachEvent) {
            document.attachEvent('WeixinJSBridgeReady', jsApiCall);
            document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
        }
    }
    else {
        jsApiCall();
    }
    </script>
}