@{
    ViewBag.Title = "支付成功";
}

<div class="container-fluid">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    @if (ViewBag.Status == (int) SHOOT.Common.Order_Status.End)
    {
        <div class="common-header">
            订单已结束
        </div>
    }
    else if (ViewBag.Status == (int) SHOOT.Common.Order_Status.Refunded)
    {
        <div class="common-header">
            退款成功
        </div>
    }
    else if (ViewBag.Status == (int) SHOOT.Common.Order_Status.Refunding)
    {
        <div class="common-header">
            退款审核中
        </div>
    }
    else if (ViewBag.Status == (int) SHOOT.Common.Order_Status.Payed)
    {
        <div class="common-header">
            支付成功
        </div>
    }

    <div class="common-content">
        <div class="border-header"></div>
        <div class="border-body">

            <div class="border-group-info" style="position: relative;top: -2rem;">
                <label>订单编号：</label>
                <label>
                    <span class="span-text">@ViewBag.OrderNo</span>
                </label>
            </div>

            <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                <label style="vertical-align: top;">订单详情：</label>
                <label>
                    &nbsp;&nbsp;&nbsp;
                    <span class="span-text">@MvcHtmlString.Create(ViewBag.Description)</span>
                </label>
            </div>

            @if (ViewBag.Status == (int)SHOOT.Common.Order_Status.Payed)
            {
                <div class="border-group-info" style="position: relative;top: -2rem;">
                    <label>温馨提示：请填写保单。</label>
                </div>
                <a href="/Order/SetInsurance?OrderID=@ViewBag.OrderID"
                   class="common-button"> 填写保单 </a>
                <a href="javascript:void(0)" onclick="Pager.FinishGame(true)"
                   class="common-button m-t-10"> 录入成绩 </a>
                <a href="javascript:void(0)" onclick="Pager.FinishGame(false)"
                   class="common-button m-t-10"> 我的主页 </a>
                @*<a href="javascript:void(0)" onclick="Pager.Refund()"
                   class="common-button m-t-10">申请退款</a>*@
            }
            else
            {
                <a href="/User/UserRecord"
                   class="common-button m-t-10">返　　回</a>
            }
        </div>
        <div class="border-footer"></div>
        <div class="common-content-footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>
@section scripts {
    <script>
        var Pager = {
            FinishGame: function (entry) {
                // entry 是否录入成绩
                if (entry) {
                    //window.location.href = "/User/EnterPassword?OrderID=" + '@ViewBag.OrderID';
                    window.location.href = "/User/EnterRank?OrderID=" + '@ViewBag.OrderID';
                } else {
                    // 修改订单状态、修改使用券状态 已完成，已结束（再考虑是否可以退款）
                    window.location.href = "/User/UserBase";
                }
            },
            Refund: function () {
                window.location.href = "/User/EnterRefundApply?OrderID=" + '@ViewBag.OrderID';
            }
        }
    </script>
}