@{
    ViewBag.Title = "提交订单";
}

@section styles {
    <style>
        .container-fluid {
            min-height: 130%;
        }

        .order_header div {
            width: 85%;
            margin: 0 auto 3% auto;
        }

            .order_header div > img {
                width: 100%;
            }

        .border_body {
            min-height: 40rem;
            top: 23px;
        }
        .border_footer {
            bottom: -39px;
        }

        .common_button {
            background: url(/Image/common/btn.png) no-repeat;
            background-size: 100%;
            position: absolute;
            bottom: 0%;
            left: 50%;
            margin-left: -30%;
            width: 60%;
            height: 16%;
            text-align: center;
            padding: 3% 0;
            color: #f7cc91;
        }
        .common_button2 {
            bottom: -9%;
        }

        .common_footer {
            bottom: -17.5%;
        }
        .form-group-info {
            margin: 3% 8%;
        }
    </style>
}

<div class="container-fluid" ng-app="list1" ng-controller="list1Ctrl">
    <div class="userbase_logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="order_header">
        <div style="border: 1px solid #e8bf7b; border-radius:6px; padding: 10px; ">
            <!-- 礼包1 -->
            <img ng-src='{{detail.ImgPath?detail.ImgPath:"#"}}' />
        </div>
        <div class="form-group m-t-10">
            <label>
                <span style="color:#FFF">
                    礼包详情：<span ng-bind="detail.Description"></span>
                </span>
            </label>
        </div>
    </div>

    <div class="common_content">
        <div class="border_header">
            <img src="~/Image/common/border_header.png" />
        </div>
        <div class="border_body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">商品名称</th>
                        <th class="text-center">金额</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in lists" ng-click="Pager.CheckItem($index)" style="cursor:pointer">
                        <td class="text-center">
                            <input type="radio" name="radioType3" ng-show="item.CanCheck&&item.Type==3"
                                   ng-value="$index" ng-model="radioModel" />
                            <input type="checkbox" ng-show="item.CanCheck&&item.Type!=3"
                                   ng-true-value="true" ng-false-value="false" ng-model="item.IsChecked" />
                        </td>
                        <td class="text-center"><span ng-bind="item.GoodName"></span></td>
                        <td class="text-center"><span ng-bind="item.Price"></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group-info">
                <label>共计金额：<span style="color:#FFF" ng-bind="detail.Price"></span> 元</label>
            </div>
            <div class="form-group-info">
                <label style="display:inline">支付方式：</label>
                <label class="radio-inline">
                    <input type="radio" name="paymentType" class="m-t-5" checked /> 微信支付
                </label>
                <label class="radio-inline">
                    <input type="radio" name="paymentType" class="m-t-5" />  支付宝支付
                </label>
            </div>

            <div class="form-group-info">
                <a href="javascript:void(0)" ng-click="Pager.SubmitOrder()" class="common_button"> 提交订单 </a>
            </div>
            <div class="form-group-info">
                <a href="/Good/GoodView" class="common_button common_button2"> 上一步 </a>
            </div>
        </div>

        <div class="border_footer">
            <img src="~/Image/common/border_bottom.png" />
        </div>
        <div class="common_footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>
@section scripts {
    <script src="~/assets/plugins/angular/angular.min.js"></script>
    <script>
        var app1 = angular.module('list1', []);
        app1.controller('list1Ctrl', ['$scope', function ($scope) {
            $scope.detail = @MvcHtmlString.Create(ViewBag.GiftDetail)
            $scope.lists = [];
            $scope.radioModel = undefined;
            $scope.gunCount = 0;

            var Pager = {
                CheckItem: function (index) {
                    var item = $scope.lists[index];
                    if (!item.CanCheck) {
                        return;
                    }

                    // radio 选中
                    if (item.Type == 3) {
                        $scope.radioModel = index;
                        return;
                    }
                    
                    // checkbox 选中
                    if (item.IsChecked) {
                        $scope.gunCount -= 1;
                        item.IsChecked = false;
                    } else {
                        if ($scope.gunCount >= $scope.detail.Type1Count) {
                            modal.show('@ViewBag.Title', "最多选择" + $scope.detail.Type1Count + "把");
                            return;
                        }
                        $scope.gunCount += 1;
                        item.IsChecked = true;
                    } 
                },
                GetGoodData: function () {
                    $scope.lists = [];
                    $.ajax({
                        url: "/Order/GetGoodData",
                        type: "post",
                        dataType: "json",
                        data: { jsonData: JSON.stringify($scope.detail) },
                        success: function (data) {
                            if (data.status == 0) {
                                modal.show('@ViewBag.Title', data.msg);
                                return;
                            }
                            $scope.lists = data.data;
                            $scope.$apply();
                        }
                    });
                },
                SubmitOrder: function () {
                    var type1Checked = false;
                    for (var i = 0; i < $scope.lists.length; i++) {
                        if ($scope.lists[i].Type == 1 && $scope.lists[i].IsChecked) {
                            type1Checked = true;
                            break;
                        }
                    }
                    if (!type1Checked) {
                        modal.show('@ViewBag.Title', "请选择枪械");
                        return;
                    }

                    if ($scope.radioModel == undefined) {
                        modal.show('@ViewBag.Title', "请选择射击距离");
                        return;
                    }
                    var item = $scope.lists[$scope.radioModel];
                    item.IsChecked = true;

                    $.ajax({
                        url: "/Order/SubmitOrder",
                        type: "post",
                        dataType: "json",
                        data: {
                            GiftJsonData: JSON.stringify($scope.detail),
                            GoodJsonData: JSON.stringify($scope.lists)
                        },
                        success: function (data) {
                            if (data.status == 0) {
                                modal.show('@ViewBag.Title', data.msg);
                                return;
                            }
                            window.location.href = "/WxPay/WxPayReady?IdAmount=" + data.data.RecordID;
                        }
                    });
                }
            }

            $scope.Pager = Pager;
            Pager.GetGoodData();
        }]);
    </script>
}