@{
    ViewBag.Title = "申请退款";
}
@section styles {
    <style>
        label {
            color: #aca59d;
            font-size: 16px;
        }
    </style>
}

<div style="background: url(/Images/home.png) repeat; background-size: 100%; min-height: 680px;">
    <div style="margin: 0 20px"><img src="~/Images/header_01.png" style="width: 100%;" /></div>
    <div class="panel-body-responsive">
        <div style="margin: 0 30px;">
            <div class="form-group text-center">
                <label style="display:block;">
                    订单编号：@ViewBag.OrderNo
                </label>
            </div>
            <div class="form-group m-t-10" style="margin: 0 20px;">
                <label>@ViewBag.Description</label>
            </div>
            <div class="form-group text-center">
                <label style="display:block;">
                    订单金额：@ViewBag.Amount
                </label>
            </div>
            <div class="form-group">
                <label>申请退款金额（非必填）：</label>
                <input id="Amount" type="text" class="form-control input-lg "
                       placeholder="请输入申请退款金额" autocomplete="off" value="" />
            </div>
            <div class="form-group">
                <label>退款原因（必填）：</label>
                <textarea id="Remark" class="textarea form-control input-lg " rows="5"
                          placeholder="请输入退款原因"></textarea>
            </div>
            <div class="form-group">
                <label style="font-size:14px;">温馨提示：</label>
                <label style="font-size:14px;">
                    请填写申请退款的金额、退款原因，自觉遵守活动规则，谢谢合作。
                    申请退款后，请等待审核，退款会在2-3个工作日退回到原帐户！
                </label>
                <label style="font-size:14px;">
                    请在退款原因中详细描述要退款的内容，比如：剩余10发子弹，申请退款！
                </label>
            </div>
            <div class="form-group m-t-10" style="margin: 0 20px;">
                <a href="javascript:void(0)" onclick="Pager.Submit()" class="btn btn-lg btn-orange btn-block"> 提交 </a>
            </div>
            <div class="form-group m-t-10 m-b-20" style="margin: 0 20px;">
                <a href="/User/UserRecord" class=" btn btn-lg btn-orange btn-block"> 取消 </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var Pager = {
            Submit: function () {
                if ($("#Remark").val() == "") {
                    modal.show('@ViewBag.Title', "退款原因不能为空!");
                    return;
                }
                if ($("#Amount").val() != "" && !validate.checkDecimal($("#Amount").val())) {
                    modal.show('@ViewBag.Title', "请输入正确的金额!");
                    return;
                }
                if ($("#Amount").val() == "") {
                    $("#Amount").val(0);
                }
                if (Number($("#Amount").val()) > Number('@ViewBag.Amount')) {
                    modal.show('@ViewBag.Title', "退款金额不能超过订单金额!");
                    return;
                }

                $.ajax({
                    url: "/User/SubmitRefundApply",
                    type: "post",
                    dataType: "json",
                    data: {
                        OrderID: '@ViewBag.OrderID',
                        Remark: $("#Remark").val(),
                        Amount: $("#Amount").val()
                    },
                    success: function (data) {
                        modal.show('@ViewBag.Title', data.msg);
                        if (data.status == 0) {
                            return;
                        }
                        window.location.href = "/User/UserRecord";
                    }
                });
            }
        }
    </script>
}