@{
    ViewBag.Title = "验证验证码";
}
@section styles {
    <style>
        label {
            color: #aca59d;
            font-size: 16px;
        }
    </style>
}

<div style="background: url(/Images/home.png) repeat; background-size: 100%; min-height: 680px;">
    <div style="margin: 0 20px"><img src="~/Images/header_01.png" style="width: 100%;" /></div>
    <div class="panel-body-responsive">
        <div style="margin: 0 30px;">
            @if (!string.IsNullOrEmpty(ViewBag.tipStr) && ViewBag.tipStr != "Enter")
            {
                <div class="form-group text-center">
                    <label style="font-size: 18pt; font-weight: bold; color: #ff0000;">
                        @ViewBag.tipStr
                    </label>
                </div>
            }
            <div class="form-group">
                <label>验证码：</label>
                <input id="Pwd" type="text" class="form-control input-lg "
                       placeholder="请输入验证码" autocomplete="off" value="" />
            </div>
            <div class="form-group">
                <label style="font-size:14px;">温馨提示：</label>
                <label style="font-size:14px;">
                    请输入验证码后
                    @if (ViewBag.CodeType == 1)
                    {
                        <span>录入成绩</span>
                    }
                    else
                    {
                        <span>填写退款申请</span>
                    }，验证码向工作人员索要。
                </label>
            </div>
            <div class="form-group m-t-10" style="margin: 0 20px;">
                <a href="javascript:void(0)" onclick="Pager.Submit()" class="btn btn-lg btn-orange btn-block"> 提交 </a>
            </div>
            <div class="form-group m-t-10" style="margin: 0 20px;">
                <a href="/Order/Success?OrderID=@ViewBag.OrderID" class=" btn btn-lg btn-orange btn-block"> 取消 </a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var Pager = {
            Submit: function () {
                window.location.href = "/User/EnterPassword?OrderID=" + '@ViewBag.OrderID' + "&Password=" + $("#Pwd").val();
                @*+ "&CodeType=" + '@ViewBag.CodeType';*@
            },
            Validate: function () {
                if ('@ViewBag.tipStr' == "") {
                    
                    @*if ('@ViewBag.CodeType' == '1') {
                            window.location.href = "/User/EnterRank?OrderID=" + '@ViewBag.OrderID';
                        } else {
                            window.location.href = "/User/EnterRefund?OrderID=" + '@ViewBag.OrderID';
                    }*@

                    window.location.href = "/User/EnterRank?OrderID=" + '@ViewBag.OrderID';
                }
            }
        }

        Pager.Validate();
    </script>
}
