
@{
    ViewBag.Title = "退款审核";
}

<div class="container-fluid">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.tipStr) && ViewBag.tipStr != "Enter")
    {
        <div class="common-header">
            <label style="font-size: 18pt; font-weight: bold; color: #ff0000;">
                @ViewBag.tipStr
            </label>
        </div>
        <a href="javascript:void(0)" onclick="Pager.Close()"
           class="common-button">关闭页面</a>
    }
    else
    {
        <div class="common-header">
            退款审核
        </div>

        <div class="common-content">
            <div class="border-header"></div>
            <div class="border-body">

                <div class="border-group-info" style="position: relative;top: -2rem;">
                    <label>订单编号：</label>
                    <label>
                        <span style="color:#FFF">@ViewBag.OrderNo</span>
                    </label>
                </div>

                <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                    <label>订单详情：</label>
                    <label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="color:#FFF">@ViewBag.Description</span>
                    </label>
                </div>

                <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                    <label>订单金额：</label>
                    <label>
                        <span style="color:#FFF">@ViewBag.Amount</span>
                    </label>
                </div>

                <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                    <label>申请退款金额：</label>
                    <label>
                        <span style="color:#FFF">@ViewBag.RefundAmount</span>
                    </label>
                </div>

                <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                    <label>申请退款原因：</label>
                    <label>
                        <span style="color:#FFF">@ViewBag.RefundRemark</span>
                    </label>
                </div>

                <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                    <label>退款金额：</label>
                    <input id="Amount" type="text" class="form-control" placeholder="请输入退款金额" 
                           value="@ViewBag.RefundAmount"/>
                </div>
                <div class="border-group-info m-t-5" style="position: relative;top: -2rem;">
                    <label>温馨提示：</label>
                    <label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        请填写要退款的金额，提交退款成功后，会立刻退回到用户原帐户上，请慎重操作！
                    </label>
                </div>

                <a href="javascript:void(0)" onclick="Pager.Submit()"
                   class="common-button">提　　交</a>
            </div>
            <div class="border-footer"></div>
            <div class="common-content-footer">
                <img src="~/Image/common/logo_footer.png" />
            </div>
        </div>
    }
</div>
@section scripts {
    <script>
        var Pager = {
            Close: function () {
                // 调用微信浏览器关闭本页面
                WeixinJSBridge.call('closeWindow');
                window.close();
            },
            Submit: function () {
                if ($("#Amount").val() == "") {
                    modal.show('@ViewBag.Title', "退款金额不能为空!");
                    return;
                }
                if ($("#Amount").val() == 0) {
                    modal.show('@ViewBag.Title', "退款金额不能为零!");
                    return;
                }
                if (!validate.checkDecimal($("#Amount").val())) {
                    modal.show('@ViewBag.Title', "请输入正确的金额!");
                    return;
                }
                if (Number($("#Amount").val()) > Number('@ViewBag.Amount')) {
                    modal.show('@ViewBag.Title', "退款金额不能超过订单金额!");
                    return;
                }

                $.ajax({
                    url: "/User/RefundAmount",
                    type: "post",
                    dataType: "json",
                    data: {
                        OrderID: '@ViewBag.OrderID',
                        Amount: $("#Amount").val()
                    },
                    success: function (data) {
                        modal.show('@ViewBag.Title', data.msg);
                        if (data.status == 0) {
                            return;
                        }

                        // 调用微信浏览器关闭本页面
                        WeixinJSBridge.call('closeWindow');
                        window.close();
                    }
                });
            }
        }
    </script>
}