@{
    ViewBag.Title = "完善用户信息";
    SHOOT.Model.System.Sys_User USER = ViewBag.User != null ? (SHOOT.Model.System.Sys_User)ViewBag.User : new SHOOT.Model.System.Sys_User();
}

<div class="container-fluid">
    <div class="userbase_logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="regist_title">
    </div>

    <div class="common_content">
        <div class="border_header">
            <img src="~/Image/common/border_header.png" />
        </div>

        <div class="border_body">

            <input id="UserID" type="hidden" value="@USER.UserID" />
            <table class="table-from">
                <tr>
                    <th>姓　　名</th>
                    <td>
                        <input id="UserName" type="text" placeholder="请输入姓名" value="@USER.UserName" />
                    </td>
                </tr>
                <tr>
                    <th>联系电话</th>
                    <td>
                        <input id="TelePhone" type="text" placeholder="请输入联系电话" value="@USER.TelePhone" />
                    </td>
                </tr>
                <tr>
                    <th>身份证号</th>
                    <td>
                        <input id="IdCard" type="text" placeholder="请输入身份证号" value="@USER.IdCard" />
                    </td>
                </tr>
            </table>
            <div class="form-group-info">
                <label>温馨提示：</label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您的个人信息我们将会保密，不做第三方用途，请放心填写。</label>
            </div>

            <a href="javascript:void(0)" onclick="Pager.Submit()" class="common_button">
                下一步
            </a>
        </div>

        <div class="border_footer">
            <img src="~/Image/common/border_bottom.png" />
        </div>
        <div class="common_footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>

@section scripts {
    <script>
        var Pager = {
            // 提交
            Submit: function () {
                if ($("#UserID").val() == "") {
                    window.location.href = "/";
                    return;
                }
                if ($("#UserName").val() == "") {
                    modal.show('@ViewBag.Title', "姓名不能为空");
                    return;
                }
                if ($("#TelePhone").val() == "") {
                    modal.show('@ViewBag.Title', "联系电话不能为空");
                    return;
                }
                if (!validate.checkTelephone($("#TelePhone").val().trim()) &&
                    !validate.checkMobilePhone($("#TelePhone").val().trim())) {
                    modal.show('@ViewBag.Title', "联系电话格式错误");
                    return;
                }

                if (!validate.checkCard($("#IdCard").val().trim()) &&
                    $("#IdCard").val().trim() != "") {
                    modal.show('@ViewBag.Title', "身份证号格式错误");
                    return;
                }

                var updateModel = {
                    UserID: $("#UserID").val(),
                    UserName: $("#UserName").val(),
                    TelePhone: $("#TelePhone").val(),
                    IdCard: $("#IdCard").val()
                }

                $.ajax({
                    url: "/Regist/SubmitUser/",
                    type: "post",
                    dataType: "json",
                    data: { jsonData: JSON.stringify(updateModel) },
                    success: function (data) {
                        if (data.status == 0) {
                            modal.show('@ViewBag.Title', data.msg);
                            return;
                        }
                        window.location.href = "/Home/Index/";
                    }
                });
            }
        }
    </script>
}
